body {
    overflow-x: hidden;
    font-family:"Roboto Mono", 'Arial','Helvetica';
}

.navbar {
    display: flex;
    position: static;
    top:0px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navbar-knapp {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 10%;
}

.navbar-knapp:hover {
    cursor: grab;
}

@media screen and (max-width: 1080px) {
    .navbar-knapp {
        width: 15%;
    }
}