<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Denne nettsiden er laget av Adrian Merli på vegne av Thea Emilie Merli-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}

    {% endblock %}
	<script src="index.js"></script>
  </body>
</html>