{% load static %}

<br><br><br><br>
<br><br><br><br>
<div class="footer" id="foot">
    <section class="legal">
        <h5>Thea Emilie Merli ©</h5>
        <p>Bildene på denne nettsiden er beskyttet av opphavsretten.
        Kopiering for videreselging, eller bruk til opptrening av AI/KI
        er eksempler på brudd på opphavsretten og er
        ikke tilltat uten spesiell tillatelse fra eier. For å kontakte eier, <a href="{% url 'kontakt' %}" class="footer-link">klikk her</a>.</p>
    </section>
    <button class="footer-button" onClick="closeFoot()">X</button>
</div>
