{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

{% include 'profil-kort.html' %}


<div class="post-cards-wrapper">
    {% for posts in posts %}
    <div class="post-card">
        <h1>{{ posts.tittel }}</h1>
        <p>{{ posts.beskrivelse }}</p>
        <img src="{{ posts.bilde.url }}" width="{{ posts.lengde }}" height="{{ posts.høyde }}">
    </div>
    {% endfor %}
</div>
{% endblock %}